

<html lang="en">
	<head>
    <title>romans</title>
	<%- include('./partials/head.ejs')%>

	</head>
	<body>
		<nav>
			<a href="/homepage">Back to Index</a>
		</nav>
		<h1>Hail <%= roman.name; %>, <%= roman.role; %> of rome! <br> Long may his reign Last! </h1>
		<br/>
		 
		<% if(roman.conquest === true) { %> 
			Returning in Glory to Rome!
			<% } else { %> 
				Proudly Defending Mother Rome!
				<% } %>
		  
	</body>
</html>