

<html lang="en">
	<head>
    <title>romans</title>
	<%- include('./partials/head.ejs')%>

	</head>
	<body>
		<nav>
			<a href="/homepage">Back to Index</a>
		</nav>
		<h1><%= roman.name; %></h1>
		Role: <%= roman.role; %>
		<br />
		returning from conquest!: <%= roman.conquest; %>
	</body>
</html>